<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Testing</title>
</head>
<body>
    <h1>Items in your cart:</h1>
    <% if (cart.length === 0) { %>
        <p>Your cart is empty</p>
    <% } else { %>
    <ul>
        <% cart.forEach((product) => { %>
            <li><%= product.name %> - $<%= product.price %> - Qty <%= product.qty %></li>
        <% }); %>
    </ul>
    <% } %>
</body>
</html>