<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <style>
        label {
            display: inline-block;
            width:100px;
        }
        div {
            margin-bottom:10px;
        }
    </style>
</head>
<body>
    <form action="/loginjwt" method="POST">
        <span style="color: red;" ><%= message %></span>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>